body {
    background: url(../images/wall.png);
}

/* Navbar Styles: Header and Page Links */
.navbar-brand {
    float: left;
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    padding: 10px 15px 10px 15px;
    margin-top: 25px;
    margin-left: 5em;
    margin-bottom: 0px;
  }

.nav-link {
    float: right;
    color: #777777;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 0px;
    padding: 10px;
  }

.container1 {
    background-color: #ffffff;
    border-bottom: #cccccc solid 2px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    height: 100%;
  }


/* main content container styles */
#contentPlacement {
    padding-top: 60px;
  }

  /* main content styles*/
.mainContent {
    background-color: #ffffff;
    border: 1px #dddddd solid;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
  }

#aboutMe {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
    font-size: 30px;
    margin: 20px;
    margin-bottom: 25px;
    padding: 15px;
    border-bottom: #cccccc solid 1px;
  }

  #bioPicture {
    margin-left: 15px;
    border: #dddddd solid 1px;
  }
  
  p {
    padding: 10px;
    margin: 5px;
  }
  

/* footer style */
#footer {
    clear: both;
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: rgb(102, 102, 102);
    font-size: 10px;
    color: white;
    text-align: center;
    line-height: 50px;
    bottom: 0px;
    margin-bottom: -20px;
    left: 0px;
    border-top: 5px solid #4aaaa5;
}