body {
    background: url(../images/wall.png);
    margin-bottom: 150px;
}

/* Navbar Styles: Header and Page Links */
.navbar-brand {
    float: left;
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    padding: 10px 15px 10px 15px;
    margin-top: 25px;
    margin-left: 5em;
    margin-bottom: 0px;
}

.nav-link {
    float: right;
    color: #777777;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 0px;
    padding: 10px;
}

.entireNav {
    background-color: #ffffff;
    border-bottom: #cccccc solid 2px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    height: 100%;
    margin: auto;
}


/* main content container styles */
#mainPlacement {
    padding-top: 60px;
}

/* main content styles*/
.mainContent {
    background-color: #ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    border: 1px #dddddd solid;
    color: #777777;
    padding: 20px;
}

#aboutMe {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
    font-size: 30px;
    margin: 20px;
    margin-bottom: 30px;
    padding: 15px;
    border-bottom: #cccccc solid 1px;
}

#bioPicture {
    margin-left: 5px;
}
  
p {
    padding: 10px;
    margin: 5px;
}

/* Portfolio content styles */

.portContent {
    background-color: #ffffff;
    border: 1px #dddddd solid;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    padding-left: 20px;
}

h3 {
    background-color: #4aaaa5;
    text-align: center;
    color: white;
    height: fit-content;
    padding: 10px;
    margin-top: 130px;
  }

#portpic1 {
    background-image: URL("../images/dark.jpeg");
    background-size: 100%;
    height: 200px;
    width: 300px;
    padding: 0px;
    margin: 20px;
    float: left;
}

#portpic2 {
    background-image: URL("../images/code.jpeg");
    background-size: 100%;
    height: 200px;
    width: 300px;
    padding: 0px;
    margin: 20px;
    float: left;
}

#portpic3 {
    background-image: URL("../images/meeting.jpeg");
    background-size: 100%;
    height: 200px;
    width: 300px;
    padding: 0px;
    margin: 20px;
}

#portpic4 {
    background-image: URL("../images/phone.jpeg");
    background-size: 100%;
    height: 200px;
    width: 300px;
    padding: 0px;
    margin: 20px;
}

#portpic5 {
    background-image: URL("../images/system.jpeg");
    background-size: 100%;
    height: 200px;
    width: 300px;
    padding: 0px;
    margin: 20px;
}


/* contact style */
#button {
    background-color: #4aaaa5;
    color: #ffffff;
}

/* footer style */
footer {
    bottom: 0;
    width: 100%;
    background-color: rgb(102, 102, 102);
    font-size: 10px;
    color: white;
    text-align: center;
    line-height: 50px;
    bottom: 0px;
    left: 0px;
    border-top: 5px solid #4aaaa5;
    position: fixed;
    margin: -20;
}

/* Media Queries */
@media only screen and (max-width: 990px) {
    #erase {
        display: none;
    }
    #smallName {
        width: 100%;
        text-align: center;
        margin: 0px;
    }
    #smallNav {
        width: 100%;
        margin: 0;

    }
    .centered {
        margin-left: 13em;
    }

@media only screen and (max-width: 760px) {
    .centered {
        margin-left: 8em;
    }
    #mainPlacement {
        height: 1500px;
    }
}

